{% extends "base.html" %}
{% block content %}
<section class="main-section">
    <div class="display-post-container">
        <h3 class="main-heading">{{post.post_title}}</h3>
        <hr>
        <div>
            <p><strong>Problem: </strong> {{post.post_problem}}</p>
            {% if post.post_image %}
            <img src="{{post.post_image.url}}" alt="image">
            {% endif %}
            <p><strong>Description: </strong> {{post.post_description}}</p>
            <small><strong>Updated on: </strong> {{post.post_created | timesince}} ago</small>
        </div>
    </div>
    {% if user.is_superuser %}
    <div class="card-footer">
        <small><a href="{% url 'updatePost' pk=post.id %}">Update</a></small>
        <small><a href="{% url 'deletePost' pk=post.id %}">Delete</a></small>
    </div>
    {% endif %}
</section>
{% endblock %}