{% extends "base.html" %}
{% block content %}
<section class="main-section">
    <div>
        <h3 class="main-heading">Posts</h3>
        <hr>
        <div class="post-container">
            <div class="main-post-container">
                {% for post in total_post %}
                <div class="main-post">
                    <h2 class="card-title"><a href="{% url 'displayPost' post.id %}">{{post.post_title}}</a></h2>
                    <p><strong>Description: </strong> {{post.post_description}}</p>
                    <small><strong>Updated on: </strong> {{post.post_created | timesince}} ago</small>
                </div>
                {% endfor %}
            </div>
            <div class="activity-container">
                <h3 class="main-heading">Recent Activities</h3>
                <hr>
                <div>
                    <p>@User_Name</p>
                    <p>User_Queries</p>
                </div>
                <div>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}