{% extends "base.html" %}
{% block content %}
<section class="main-section">
    <div>
        <h3 class="main-heading">Posts</h3>
        <hr>
        <div class="post-container">
            <div class="main-post-container">
                {% if total_post %}
                {% for post in total_post %}
                <div class="main-post">
                    <h2 class="card-title"><a href="{% url 'displayPost' post.id %}">{{post.post_title}}</a></h2>
                    <p><strong>Description: </strong> {{post.post_description | slice:":100"}}...</p>
                    <small><strong>Updated on: </strong> {{post.post_created | timesince}} ago</small>
                </div>
                {% endfor %}
                {% else %}
                <div>
                    <p style="text-align: center;">{{message}}</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="post-activity">
            <h3 class="main-heading">Recent Activities</h3>
            <hr>
            <div class="activity-container">
                {% if user.is_authenticated %}
                <div class="user-subcontainer query-section">
                    <form action="{% url 'askQuery' %}" method="post" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="user_query">Ask any query here:  </label>
                            <br>
                            <input type="text" name="user_query" id="user_query" placeholder="Ask Anything..." />
                            <input type="submit" value="ASK">
                        </div>
                    </form>
                </div>
                {% endif %}
                {% for user in users reversed %}
                <div class="user-comments">
                    <div class="user-subcontainer">
                        <p>
                            <span class="user-name"><a href="{% url 'post' %}"><strong>@{{user.user}}</strong></a>
                                |</span>
                            <span style="font-size: 13px !important;">{{user.user_created | timesince}} ago</span>
                        </p>
                        <p><strong>Comments: </strong> {{user.user_query}}</p>
                        {% if request.user == user.user %}
                        <div>
                            <a href="{% url 'updateComments' pk=user.id %}">Edit</a>
                            <a href="{% url 'deleteComments' pk=user.id %}">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if user.is_superuser %}
        <div class="main-btn">
            <a href="{% url 'uploadPost' %}"><button type="button"
                    class="btn btn-outline search-btn-color large-main-btn">Upload a New Post</button></a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}