{% extends "base.html" %}
{% block content %}
<section class="main-section">
    <div>
        <h3 class="main-heading">Posts</h3>
        <hr>
        <div class="post-container">
            <div class="main-post-container">
                {% if total_post %}
                {% for post in total_post %}
                <div class="main-post">
                    <h2 class="card-title"><a href="{% url 'displayPost' post.id %}">{{post.post_title}}</a></h2>
                    <p><strong>Description: </strong> {{post.post_description | slice:":100"}}...</p>
                    <small><strong>Updated on: </strong> {{post.post_created | timesince}} ago</small>
                </div>
                {% endfor %}
                {% else %}
                <div>
                    <p style="text-align: center;">{{message}}</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="activity-container">
                <h3 class="main-heading">Recent Activities</h3>
                <hr>
                {% for user in users reversed %}
                <div>
                    <p>@{{user.user}}</p>
                    <p>{{user.user_query}}</p>
                </div>
                {% endfor %}
                <div>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
        {% if user.is_superuser %}
        <div class="main-btn">
            <a href="{% url 'uploadPost' %}"><button type="button"
                    class="btn btn-outline search-btn-color large-main-btn">Upload a New Post</button></a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}