{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="main-section">
    <h1 class="main-heading">Login/Register Here</h1>
    <hr>
    <div class="login-form">
        <div class="login-form-para">
            <h1 class="main-heading">Explore My Blogs</h1>
            <hr>
            <p>''Explore the digital realm with our blog, where coding meets creativity. Dive into insightful articles,
                discover programming tips, and stay updated on the latest tech trends. Join us on a journey of
                innovation, problem-solving, and endless possibilities in the world of technology!''</p>
        </div>
        <div class="login-form-user">
            {% if page == 'user_register' %}
            <div class="register-form">
                <form action="" autocomplete="off" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username" placeholder="Enter Username">
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Enter Email">
                    </div>
                    <div>
                        <label for="password1">Password: </label>
                        <input type="password" name="password1" id="password1" placeholder="Enter Password">
                    </div>
                    <div>
                        <label for="password2">Password (again): </label>
                        <input type="password" name="password2" id="password2" placeholder="Enter Password Again">
                    </div>
                    <div>
                        <input type="submit" value="Register">
                        <input type="reset" value="Reset">
                    </div>
                    <div>
                        <p>Already registered? <a href="{% url 'login' %}">Login here</a></p>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="register-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="username" placeholder="Enter Username">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Enter Password">
                    </div>
                    <div>
                        <input type="submit" value="Login">
                    </div>
                    <div>
                        <p>Haven't registered yet? <a href="{% url 'register' %}">Register here</a></p>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}